<%= form_for @customer do |f| %>

<p> <%= "Provide your data in order to rent #{@movie.title}" %></p>
      <% if @customer.errors.any? %>
    <div id="error_explanation">
      <strong class="text-danger">Sorry but there were some errors</strong>

      <ul>
      <% @customer.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
      <hr>
    </div>
  <% end %>

      <%= hidden_field_tag 'movie', @movie.id  %>

      <div class="form-group">
        <%= f.label :first_name, class: "control-label" %>
        <%= f.text_field :first_name, class: "form-control" %>
      </div>

      <div class="form-group">
        <%= f.label :last_name, class: "control-label" %>
        <%= f.text_field :last_name, class: "form-control" %>
      </div>

      <div class="form-group">
        <%= f.label :phone_number, class: "control-label" %>
        <%= f.text_field :phone_number, class: "form-control" %>
      </div>

      <div class="form-group">
        <%= f.label :email, class: "control-label" %>
        <%= f.text_field :email, class: "form-control" %>
      </div>

      <%= f.submit "Rent #{@movie.title}", class: "btn btn-success" %>

    <% end %>